TestDST/Connected Services/ServiceReference1/RegistrarGastos3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64336/RegistrarGastos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RegistrarGastos.Dominio" />
  <xs:element name="CrearInmueble">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RegistrarGastos.Dominio" minOccurs="0" name="InmuebleACrear" nillable="true" type="q1:Inmuebles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearInmuebleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RegistrarGastos.Dominio" minOccurs="0" name="CrearInmuebleResult" nillable="true" type="q2:Inmuebles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>